# /home/jxw411/.config/systemd/user/python_api.service

[Unit]
Description=Script for users and groups

[Service]
ExecStart=/usr/bin/python3 /home/jxw411/cpsc222/app.py

[Install]
WantedBy=default.target



